{{!-- <a href="/records/new" class="btn btn-primary mb-3">Create</a>
<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        {{{this.name}}}
        {{{this.category}}}
        {{{this.date}}}
        {{{this.amount}}}
      </div>

      <div class="col-auto">
        <a href="/records/{{{this.id}}}" class="btn btn-secondary">detail</a>
        <a href="/records/{{{this.id}}}/edit" class="btn btn-success">修改</a>
        <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="post" style="display: inline;">
          <button type="submit" class="btn btn-danger">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul> --}}

<a href="/records/new" class="btn btn-primary mb-3">Create</a>
<div class="total">
  <label>總金額:</label>
  <h1>123</h1>
  <div class="filter">
    <select name="">
      <option value="">月份</option>
      <option value="1">一</option>
      <option value="2">二</option>
      <option value="3">三</option>
      <option value="4">四</option>
      <option value="5">五</option>
      <option value="6">六</option>
      <option value="7">七</option>
      <option value="8">八</option>
      <option value="9">九</option>
      <option value="10">十</option>
      <option value="11">十一</option>
      <option value="12">十二</option>
    </select>
    <select name="">
      <option value="">類別</option>
      <option value="">家居物業 </option>
      <option value="">交通出行</option>
      <option value="">休閒娛樂 </option>
      <option value="">餐飲食品</option>
      <option value="">其他</option>
    </select>
  </div><a href="">新增支出</a>
</div>


<div class="itemlist">
  {{#each records}}
  <div class="item"><i class="fas fa-shuttle-van"></i>
    <div class="info">
      <label>{{{this.category}}}</label><span>{{{this.date}}}</span>
    </div>
    <h4>{{{this.amount}}}</h4>
    <div class="set"><a class="btn btn-success" href="/records/{{{this.id}}}/edit">修改</a>
      <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="post">
        <button type="submit">刪除</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>